.panel-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 5px;
  text-align: center;

}
.panel-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-align: center;
}
.panel-content-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  width: auto;

}
.button{
  display: flex;
  margin: 5px;
  color: white !important;
  width: auto !important;
  background-color:  tomato !important;
}